.innercontent,
h1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.sections {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  backdrop-filter: blur(10px);
  background-color: cornflowerblue;
  padding: 35px;
  box-shadow: 12px 12px 12px #808080;
  border-radius: 22px;
}
table,
th,
td {
  border: 1px solid white;
  padding: 10px;
  width: 500px;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  background-color: black;
  color: red;
}
th {
  background-color: rgba(0, 0, 255, 0.625);
  color: white;
}
input {
  padding: 10px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  color: green;
  font-style: italic;
}
label {
  font-weight: bold;
  font-size: 22px;
}
.bmiresult {
  font-size: 33px;
  font-weight: bold;
  color: green;
}
.btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background-color: black;
  color: white;
}
.btn:hover {
  color: rgba(128, 128, 128, 0.832);
  background-color: azure;
  transition: 0.2s ease-in 0.1s;
}
.btn:hover:active {
  background-color: green;
  color: whitesmoke;
}
table {
  border-collapse: collapse;
  height: 10rem;
}
@media (max-width: 721px) {
  form,
  input {
    width: 400px;
  }
  .innercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  h1 {
    display: none;
  }
}
